<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" #loginForm="ngForm">
        <span class="login100-form-title p-b-26">
          Sistema de Gerenciamento de Chamados da Wine
        </span>
        <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Email válido é: fulano@winetecnologia.com.br">
          <input class="input100" type="email" placeholder="Email" name="email" [(ngModel)]="funcionario.email" required>
          <span class="focus-input1000" data-placeholder="email"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password"  *ngIf="isLogin"> 
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input class="input100" type="password" placeholder="Password" name="Senha"  *ngIf="isLogin" required="isLogin" [(ngModel)]="funcionario.senha">
          <span class="focus-input1000" data-placeholder="Password"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div [ngClass]="{'login100-form-bgbtn': loginForm.valid, 'login100-form-bgbtn2': !loginForm.valid}"></div>
            <button class="login100-form-btn" (click)="doAction()" [disabled]="!loginForm.valid" [ngClass]="{'allowed' : loginForm.valid, 'not-allowed' : !loginForm.valid}">
              {{ (isLogin) ? 'Login' : 'Recuperar' }}
            </button>
          </div>
          <!-- <a href="#" (click)="isLogin = !isLogin;">{{ (isLogin) ? 'Esqueceu sua senha?' : 'Já lembrei...' }}</a> -->
        </div>

        <!-- <div class="text-center p-t-115">
          <span class="txt1">
            Don’t have an account?
          </span>

          <a class="txt2" routerLink="/signup">
            Sign Up
          </a>
        </div> -->
      </form>
    </div>
  </div>
</div>

<ng-template #genericModal let-modal >
    <header class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">&nbsp;{{modalWarning.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </header>
    <div class="modal-body" >
      <div class="container offset-md-4" style="position: relative; margin-top:3em; margin-bottom:3em;">
        <div class="row">
          <div>
            {{modalWarning.message}}
          </div>
        </div>
      </div>
    </div>
    <footer class="modal-footer">
      <button type="button" class="btn btn-primary" id="closeNewBalanceModal" (click)="modal.close('Save click')">Ok</button>
    </footer>
  </ng-template>
  <input type="hidden" id="openGenericModal" (click)="open(genericModal)" value="afasdf">
