<h1>{{(cadastrar) ? "Cadastro": "Atualização"}} do Tecnico</h1>

<!-- Para preencher automaticamente um Campo Nome -->
<!-- <input type="text" class="form-control" id="empresaNomeRazaoSocial" placeholder="" required [(ngModel)]="teste" [ngModelOptions]="{standalone: true}"> -->
<hr>
<form id="formTecnico" name="formTecnico">


  <h3>Dados Gerais: </h3>
  <br />
  <div class="col-md-12">
    <!-- Botao Status Ativo / Inativo -->
    <div class="form-group row" data-toggle="buttons">
      Cadastrar como:
      <!-- Talvez aqui fique melhor com um COMBOBOX -->
      <label>
        <input type="radio" name="ativo" checked value="ativo"> Ativo
      </label>
      <label >
        <input type="radio" name="ativo" disabled value="inativo"> Inativo
      </label>
    </div>
  </div>

  <div class="col-md-3">
    <label for="empresaID">Empresa </label>
    <input type="text" [(ngModel)]="dataStorage.empresa_parceira.nome_fantasia" class="form-control" name="empresaID" disabled id="empresaID" required>
  </div>

  <p class="clearfix"></p>

  <div class="col-md-6">
    <label for="tecnicoNome">Nome Completo</label>
    <input type="text" [(ngModel)]="tecnicoAtual.nome" class="form-control" id="tecnicoNome" name="tecnicoNome" placeholder="João Monteiro da Silva"
      required>
  </div>

  <div class="col-md-6">
    <label for="tecnicoCPF">CPF </label>
    <input type="text" [(ngModel)]="tecnicoAtual.cpf" [textMask]="{mask: masks.CPF}" class="form-control" id="tecnicoCPF" name="tecnicoCPF" placeholder="999.999.99-99"
      required>
  </div>

  <div class="col-md-4">
    <label for="tecnicoRG">RG </label>
    <input type="text" [(ngModel)]="tecnicoAtual.rg" class="form-control" id="tecnicoRG" name="tecnicoRG" placeholder="99.999.999-9 SSP"
      required>
  </div>

  <div class="col-md-4">
    <label for="dataRG">Data de Expedição do RG </label>
    <input type="date" [(ngModel)]="tecnicoAtual.data_rg" class="form-control" name="tecnicoDataRG" id="dataRG" required>
  </div>

  <div class="col-md-4">
    <label for="dataNasc">Data de Nascimento </label>
    <input type="date" [(ngModel)]="tecnicoAtual.nascimento" class="form-control" name="tecnicoNascimento" id="dataNasc" required>
  </div>

  <div class="col-md-12">
    <label for="tecnicoMae">Nome da Mãe</label>
    <input type="text" [(ngModel)]="tecnicoAtual.nome_mae" class="form-control" name="tecnicoMae" id="tecnicoMae" placeholder="Maria da Silva"
      >
  </div>

  <div class="col-md-12">
    <label for="tecnicoPai">Nome do Pai</label>
    <input type="text" [(ngModel)]="tecnicoAtual.nome_pai" class="form-control" name="tecnicoPai" id="tecnicoPai" placeholder="Jorge da Silva"
      >
  </div>

  <div class="form-group col-md-6">
    <label for="tecnicoEmail" name="email">Email</label>
    <input type="email" [(ngModel)]="tecnicoAtual.email" class="form-control" id="tecnicoEmail" name="tecnicoEmail" placeholder="joao@empresa.com.br"
      required>
  </div>

  <div class="form-group col-md-6">
    <label for="tenicoTelefones" name="telefone">Telefones</label>
    <input type="text" [(ngModel)]="tecnicoAtual.telefones" class="form-control" name="tecnicoTelefone" id="tenicoTelefones" placeholder="(11) 1234-4258  //  (21)1111-2222">
  </div>


  <p class="clearfix"></p>

  <hr>

  <!-- Chamar Componente observacoes -->
  <h3>Outras Informações: </h3>

  <div class="form-group col-md-12">
    <label for="observacao"></label>
    <textarea class="form-control" name="observacao" id="observacao" rows="15" placeholder="Campo adicional para inserir qualquer informação relevante."
      [(ngModel)]="tecnicoAtual.observacoes"  name="obs"></textarea>
  </div>

  <button type="submit" class="btn btn-success" (click)="exec();">{{(cadastrar) ? "Cadastrar": "Atualizar"}}</button>
  <button class="btn btn-danger"  (click)="cancelar()" >Cancelar</button>
</form>

<ng-template #genericModal let-modal >
  <header class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">&nbsp;{{modalWarning.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <div class="modal-body" >
    <div class="container offset-md-4" style="position: relative; margin-top:3em; margin-bottom:3em;">
      <div class="row">
        <div>
          {{modalWarning.message}}
        </div>
      </div>
    </div>
  </div>
  <footer class="modal-footer">
    <button type="button" class="btn btn-primary" id="closeNewBalanceModal" (click)="modal.close('Save click')">Ok</button>
  </footer>
</ng-template>
<input type="hidden" id="openGenericModal" (click)="open(genericModal)" value="afasdf">