<table *ngIf="tecnicos.length > 0; else semEP" class="table table-hover">
  <thead class="thead-dark">
    <th>Id.</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Editar</th>
    <th>Apagar</th>
  </thead>
  <tbody>
    <tr *ngFor="let tec of tecnicos">
      <td>{{tec.id}}</td>
      <td>{{ tec.nome}}</td>
      <td>{{tec.email}}</td>
      <td><button (click)="editTecnico(tec.id)" class="btn btn-block btn-success">Editar</button></td>
      <td><button (click)="deleteTecnico(tec.id)" class="btn btn-block btn-danger">Apagar</button></td>
    </tr>
  </tbody>
</table>
<ng-template #semEP>
    <h4>Não há Técnicos cadastrados para a Empresa "{{ (this.dataStorage !== undefined && this.dataStorage.empresa_parceira.nome_fantasia !== undefined) ? this.dataStorage.empresa_parceira.nome_fantasia : ""}}" no momento!</h4>
</ng-template>

<button class="btn btn-primary" routerLink="/formsTecnicoEmpresaParceira">Cadastrar um novo Técnico</button>