<h2>Emissão de Relatório de Cliente</h2>

<div class="input-group">
    <label for="nome_input">Informe a razão social ou nome fantasia:</label>
    <input type="text" class="form-control" placeholder="" #nome_input (keyup)="this.nome_input_string = nome_input.value; pesquisar();" id="nome_input" name="nome_input">
  </div>
  
  <p class="clearfix"></p>
  
  <table *ngIf="clientesPesquisados !== null && clientesPesquisados.length > 0; else semTicket" class="table table-hover">
    <thead class="thead-dark">
      <th>Id.</th>
      <th>Razão Social</th>
      <th>Nome Fantasia</th>
      <th>Email</th>
      <th>Selecionar</th>
    </thead>
    <tbody>
      <tr *ngFor="let clientePesquisado of clientesPesquisados; let i = index">
        <td>{{clientePesquisado.id}}</td>
        <td>{{ clientePesquisado.razao_social}}</td>
        <td>{{clientePesquisado.nome_fantasia}}</td>
        <td>{{clientePesquisado.email}}</td>
        <td><button (click)="selectClient(i)" class="btn btn-block btn-success">Selecionar</button></td>
      </tr>
    </tbody>
  </table>
  
  <ng-template #semTicket>
    <h4>Nenhum resultado encontrado. </h4>
  </ng-template>
  

  <ng-template #genericModal let-modal >
    <header class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">&nbsp;{{modalWarning.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </header>
    <div class="modal-body" >
      <div class="container offset-md-4" style="position: relative; margin-top:3em; margin-bottom:3em;">
        <div class="row">
          <div>
            {{modalWarning.message}}
          </div>
        </div>
      </div>
    </div>
    <footer class="modal-footer">
      <button type="button" class="btn btn-primary" id="closeNewBalanceModal" (click)="modal.close('Save click')">Ok</button>
    </footer>
  </ng-template>
  <input type="hidden" id="openGenericModal" (click)="open(genericModal)" value="afasdf">
