<h1>Cadastro do Cliente</h1>

<br />
<br />

<form id="formCliente">


  <h3>Dados Gerais: </h3>
  <!-- Botao Status Ativo / Inativo -->
  <app-status-ativo-inativo></app-status-ativo-inativo>

  <div class="form-group">
    <label for="empresaNomeRazaoSocial">Nome Razão Social</label>
    <input type="text" class="form-control" id="empresaNomeRazaoSocial" placeholder="">
  </div>

  <div class="form-group">
    <label for="empresaNomeFantasia">Nome Fantasia</label>
    <input type="text" class="form-control" id="empresaNomeFantasia" placeholder="" required>
  </div>

  <div class="form-group">
    <label for="empresaCNPJ">CNPJ </label>
    <input type="text" class="form-control" id="empresaCNPJ" placeholder="99.999.999/9999-99" required>
  </div>

  <!-- Chamar Componente Endereço -->
  <app-endereco></app-endereco>

  <div class="form-group col-md-6">
    <label for="inscricao_estadual">Inscrição Estudual</label>
    <input type="text" class="form-control" id="inscricao_estadual">
  </div>

  <div class="form-group col-md-6">
    <label for="inscricao_municipal">Inscrição Municipal</label>
    <input type="text" class="form-control" id="inscricao_municipal">
  </div>

  <div class="form-group col-md-6">
    <label for="registro_junta">Registro na Junta</label>
    <input type="text" class="form-control" id="registro_junta">
  </div>

  <div class="form-group col-md-6">
    <label for="ramo_atividade">Ramo de Atividade</label>
    <select id="ramo_atividade" class="form-control">
      <option>Alimentação</option>
      <option>Educação</option>
      <option>Lazer</option>
      <option>Serviços</option>
      <option>Transporte</option>
      <option>Turismo</option>
      <option>Outros</option>
    </select>
  </div>


  <div class="form-group col-md-12">
    <label for="nome_contato">Nome da pessoa ponto focal no cliente</label>
    <input type="text" class="form-control" id="nome_contato" placeholder="David Ricardo dos Santos">
  </div>
  <!-- Chamar Componente emailTelefone -->
  <app-email-telefone></app-email-telefone>

  <br />
  <br />

  <!-- Chamar Componente observacoes -->
  <app-observacoes></app-observacoes>

  <button type="submit" class="btn btn-success">Cadastrar</button>

</form>