<h1>Cadastro do Cliente</h1>

<br />
<br />

<form id="formCliente">


  <h3>Dados Gerais: </h3>
  <!-- Botao Status Ativo / Inativo -->
  <app-status-ativo-inativo></app-status-ativo-inativo>

  <div class="form-group">
    <label for="empresaNomeRazaoSocial">Nome Razão Social</label>
    <input type="text" class="form-control" id="empresaNomeRazaoSocial" placeholder="">
  </div>

  <div class="form-group">
    <label for="empresaNomeFantasia">Nome Fantasia</label>
    <input type="text" class="form-control" id="empresaNomeFantasia" placeholder="" required>
  </div>

  <div class="form-group">
    <label for="empresaCNPJ">CNPJ </label>
    <input type="text" [textMask]="{mask: masks.CNPJ}"class="form-control" id="empresaCNPJ" placeholder="99.999.999/9999-99" required>
  </div>

  <!-- Início Componente para Endereço Completo -->
  <div class="form-group col-md-2 form-row">
    <label for="CEP">CEP</label>
    <input type="text" [textMask]="{mask: masks.CEP}" class="form-control" name="cep" id="CEP"  placeholder="07115-000">
  </div>
<div class="form-row">
  <div class="form-group col-md-8">
    <label for="empresaLogradouro">Logradouro</label>
    <input type="text" class="form-control" name="logradouro"
    id="empresaLogradouro" placeholder="Avenida Salgado Filho, 123">
  </div>

  <div class="form-group col-md-4">
    <label for="empresaBairro">Bairro</label>
    <input type="text" class="form-control" name="bairro"  id="empresaBairro" placeholder="Vila das Flores">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="empresaMunicipio">Município</label>
    <input type="text" class="form-control" name="municipio" id="empresaMunicipio">
  </div>
  <div class="form-group col-md-4">
    <label for="empresaEstado">Estado</label>
    <select id="empresaEstado" class="form-control" name="estado">
      <option selected>SP</option>
      <option>AM</option>
      <option>AC</option>
      <option>AL</option>
      <option>AP</option>
      <option>AM</option>
      <option>BA</option>
      <option>CE</option>
      <option>DF</option>
      <option>ES</option>
      <option>GO</option>
      <option>MA</option>
      <option>MT</option>
      <option>MS</option>
      <option>MG</option>
      <option>PA</option>
      <option>PB</option>
      <option>PR</option>
      <option>PE</option>
      <option>PI</option>
      <option>RJ</option>
      <option>RN</option>
      <option>RS</option>
      <option>RO</option>
      <option>RR</option>
      <option>SC</option>
      <option>SE</option>
      <option>TO</option>
    </select>
  </div>
  
</div>
<!-- Fim Componente para Endereço Completo -->


  <div class="form-group col-md-6">
    <label for="inscricao_estadual">Inscrição Estudual</label>
    <input type="text" class="form-control" id="inscricao_estadual">
  </div>

  <div class="form-group col-md-6">
    <label for="inscricao_municipal">Inscrição Municipal</label>
    <input type="text" class="form-control" id="inscricao_municipal">
  </div>

  <div class="form-group col-md-6">
    <label for="registro_junta">Registro na Junta</label>
    <input type="text" class="form-control" id="registro_junta">
  </div>

  <div class="form-group col-md-6">
    <label for="ramo_atividade">Ramo de Atividade</label>
    <select id="ramo_atividade" class="form-control">
      <option>Alimentação</option>
      <option>Educação</option>
      <option>Lazer</option>
      <option>Serviços</option>
      <option>Transporte</option>
      <option>Turismo</option>
      <option>Outros</option>
    </select>
  </div>


  <div class="form-group col-md-12">
    <label for="nome_contato">Nome da pessoa ponto focal no cliente</label>
    <input type="text" class="form-control" id="nome_contato" placeholder="David Ricardo dos Santos">
  </div>
  <!-- Chamar Componente emailTelefone -->
  <app-email-telefone></app-email-telefone>

  <br />
  <br />

  <!-- Chamar Componente observacoes -->
  <app-observacoes></app-observacoes>

  <button type="submit" class="btn btn-success">Cadastrar</button>

</form>