  <h3>Confirme os dados fornecidos antes de salvar o chamado:</h3>

  <div class="card border-secondary" style="width: 100%">
    <div class="card-header bg-transparent border-secondary">
      <h2 class="card-title" style="margin-top: 0px;"><strong>Categoria:</strong> {{dataStorage.ticket.tipo_ticket}}</h2>
      <p class="card-subtitle" *ngIf="dataStorage.ticket.data_inicio"><strong>Agendamento: </strong>{{dataStorage.ticket.data_inicio | date : 'dd/MM/yyyy HH:mm'}}</p>
    </div>

    <div class="card-body">
      <h3 class="card-text" style="margin-top: 0px;">Dados do Cliente:</h3>
      <blockquote class="blockquote">
        <p class="card-text" *ngIf="dataStorage.cliente.razao_social"><strong>Razão Social:</strong> {{dataStorage.cliente.razao_social}}</p>
        <p class="card-text" *ngIf="dataStorage.cliente.nome_fantasia"><strong>Nome Fantasia:</strong> {{dataStorage.cliente.nome_fantasia}}</p>

        <p class="card-text"><strong>Endereço:</strong> {{dataStorage.ticket.logradouro + ', ' + dataStorage.ticket.logradouro_numero}}</p>
        <p class="card-text"><strong>Bairro:</strong> {{dataStorage.ticket.bairro}}</p>
        <p class="card-text"><strong>Cidade:</strong> {{dataStorage.ticket.cidade}}</p>
        <p class="card-text"><strong>UF:</strong> {{dataStorage.ticket.estado}}</p>
        <p class="card-text" *ngIf="dataStorage.ticket.descricao"><strong>Descrição:</strong> {{dataStorage.ticket.descricao}}</p>
      </blockquote>

    </div>

    <div class="card-footer bg-transparent border-secondary" *ngIf="dataStorage.empresa_parceira">
      <h3 class="card-text" style="margin-top: 0px;">Dados da Empresa Parceira:</h3>
      <blockquote class="blockquote">
        <p class="card-text"><strong>Razão Social:</strong> {{ dataStorage.empresa_parceira.razao_social }}</p>
        <p class="card-text"><strong>Nome Fantasia:</strong> {{ dataStorage.empresa_parceira.nome_fantasia }}</p>
        <p class="card-text"><strong>CNPJ:</strong> {{ dataStorage.empresa_parceira.cnpj }}</p>
        <p class="card-text"><strong>E-mail:</strong> {{ dataStorage.empresa_parceira.email }}</p>
        <p class="card-text"><strong>Telefones:</strong> {{ dataStorage.empresa_parceira.telefones }}</p>
        <p class="card-text"><strong>Valor KM:</strong> {{ dataStorage.empresa_parceira.valor_km }}</p>
        <p class="card-text"><strong>Valor Visita:</strong> {{ dataStorage.empresa_parceira.valor_visita_tecnica }}</p>
      </blockquote>
    </div>

    <div class="card-footer bg-transparent border-secondary" *ngIf="dataStorage.tecnico">
      <h3 class="card-text" style="margin-top: 0px;">Dados do Técnico:</h3>
      <blockquote class="blockquote">
        <p class="card-text"><strong>Nome:</strong> {{ dataStorage.tecnico.nome }}</p>
        <p class="card-text"><strong>CPF:</strong> {{ dataStorage.tecnico.cpf }}</p>
        <p class="card-text"><strong>E-mail:</strong> {{ dataStorage.tecnico.email }}</p>
        <p class="card-text"><strong>Telefones:</strong> {{ dataStorage.tecnico.telefones }}</p>
      </blockquote>
    </div>

  </div>

  <p class="clearfix"></p>

  <div class="form-group">
    <div class="form-row">
      <div class="col-4">
        <button class="btn btn-warning btn-lg btn-block" (click)="voltar()">Voltar</button>
      </div>
      <div class="col-4 offset-4">
        <button class="btn btn-success btn-lg btn-block" (click)="salvar()">Salvar</button>
      </div>
    </div>
  </div>

<ng-template #genericModal let-modal >
  <header class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">&nbsp;{{modalWarning.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <div class="modal-body" >
    <div class="container offset-md-4" style="position: relative; margin-top:3em; margin-bottom:3em;">
      <div class="row">
        <div>
          {{modalWarning.message}}
        </div>
      </div>
    </div>
  </div>
  <footer class="modal-footer">
    <button type="button" class="btn btn-primary" id="closeNewBalanceModal" (click)="modal.close('Save click')">Ok</button>
  </footer>
</ng-template>
<input type="hidden" id="openGenericModal" (click)="open(genericModal)" value="afasdf">