<!-- // TODO: formatar essa tabela -->

<table *ngIf="clientes.length > 0; else semClientes" class="table table-hover">
<thead class="thead-dark">
  <th>Id.</th><th>Razão Social</th><th>Email</th><th>Editar</th><th>Apagar</th>
</thead>
<tbody>
<tr *ngFor="let client of clientes; let i = index">
  <td>{{client.id}}</td><td>{{ client.razao_social }}</td> <td>{{client.email}}</td>
  <td><button (click)="editClient(i)" class="btn btn-success"><i class="fa fa-pencil-alt"></i></button></td>
  <td><button (click)="deleteClient(i)" class="btn btn-danger"><i class="fas fa-times-circle"></i></button></td>
</tr>
</tbody>
</table>
<ng-template #semClientes><h2>Não há clientes cadastrados no momento!</h2></ng-template>
