<table *ngIf="funcionarios.length > 0; else semFunc" class="table table-hover">
  <thead class="thead-dark">
    <th>Id.</th>
    <th>Nome</th>
    <th>Email</th>
    <th *ngIf="funcionarioAtual.admin == true">Editar</th>
    <th *ngIf="funcionarioAtual.admin == true">Apagar</th>
  </thead>
  <tbody>
    <tr *ngFor="let func of funcionarios">
      <td>{{func.id}}</td>
      <td>{{ func.nome}}</td>
      <td>{{func.email}}</td>
      <td *ngIf="funcionarioAtual.admin == true"><button (click)="editFuncionario(func.id)" class="btn btn-block btn-success">Editar</button></td>
      <td *ngIf="funcionarioAtual.admin == true"><button (click)="deleteFuncionario(func.id)" class="btn btn-block btn-danger">Apagar</button></td>
    </tr>
  </tbody>
</table>
<ng-template #semFunc>
    <h4>Não há funcionários Wine cadastrados no momento!</h4>
</ng-template>

<button class="btn btn-primary" routerLink="/funcionario">Cadastrar um novo Funcionário</button>