<div class="container">

  <h1>Cadastro de Chamado</h1>

  <form id="formChamado">

    <hr>

    <h3>Dados Gerais: </h3>

      <div class="form-group col-md-4">
        <label for="ticket_status_id">Status do Chamado</label>
        <select id="ticket_status_id" class="form-control">
          <option selected>Aberto</option>
          <option>Agendado</option>
          <option>em Atendimento</option>
          <option>Entregue</option>
          <option>Documentos Validados</option>
          <option>Encerrado</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="tipo_ticket">Categoria do Chamado</label>
        <select id="tipo_ticket" class="form-control">
          <option selected>Rollout</option>
          <option>Cabling</option>
          <option>Data Center</option>
        </select>
      </div>

    <p style="clear: both"></p>

    <div class="form-group col-md-4">
      <label for="cliente_id">ID Cliente</label>
      <input type="number" class="form-control" id="cliente_id" required>
    </div>

    <div class="form-group col-md-4">
      <label for="tecnico_id">ID Técnico</label>
      <input type="number" class="form-control" id="tecnico_id">
    </div>

    <div class="form-group col-md-4">
      <label for="ticket_cliente_id">ID Chamado Externo</label>
      <input type="text" class="form-control" id="ticket_cliente_id" required>
    </div>


    <div class="form-group col-md-12">
        <label for="nome_contato">Nome do cliente responsavel pelo chamado</label>
        <input type="text" class="form-control" id="nome_contato" placeholder="David Ricardo dos Santos">
    </div>
    <div class="form-group col-md-12">
      <!-- Componente EmailTelefone -->
      <app-email-telefone></app-email-telefone>
    </div>

    <!-- TODO: Precisa corrigir o name -->
    <!-- <app-endereco></app-endereco> -->

    <p style="clear: both"></p>

    <hr>

    <!-- Chamar Componente Data Hora Agendamento -->
    <app-data-hora-agendamento></app-data-hora-agendamento>

    <!-- Chamar Componente Endereço -->
    <app-endereco></app-endereco>

    <p style="clear: both"></p>
    <hr>

    <h3>Valores Pagamento: </h3>

    <div class="form-group col-md-6">
      <label for="preco_cliente">Valor pago pelo cliente</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" value="100" min="0" step="100" data-number-to-fixed="2" data-number-stepfactor="10" class="form-control currency"
          id="preco_cliente" />
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="preco_tecnico">Valor pago para o técnico</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" value="100" min="0" step="100" data-number-to-fixed="2" data-number-stepfactor="10" class="form-control currency"
          id="preco_tecnico" />
      </div>
    </div>

    <p style="clear: both"></p>
    <hr>
    <app-observacoes></app-observacoes>

    <button type="submit" class="btn btn-success">Cadastrar</button>

  </form>

</div>
