<!-- TODO: fazer o if para colocar a class "active" no lugar certo -->

<div [ngClass]="{'nav-side-menu col-md-3': this.router.url !== '/login' && this.router.url !== '/' && this.router.url !== '/funcionario/first'}"
  *ngIf="this.router.url !== '/login' && this.router.url !== '/' && this.router.url !== '/funcionario/first'">
  <div class="brand">
    <a (click)='mudarRota("/")'><img src="../assets/img/logo-pequeno.png" style="margin: 5px;"></a>
  </div>
  <i class="fa fa-menu fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list" *ngIf="this.router.url !== '/funcionario/first'">

    <div class="col-12 hidden-xs hidden-sm">
      <h3 class="text-center">Olá, {{this.dataStorage.usuario_logado.nome}}!</h3>
    </div>

    <div class="col-12 hidden-xs hidden-sm">
      <button class="btn btn-primary btn-block" (click)='mudarRota("/formsTicket")'>Adicionar um novo chamado<i class="fa fa-menu fa-bolt fa-lg"></i></button>
    </div>
    <ul id="menu-content" class="menu-content collapse out">

      <a (click)='mudarRota("/")' class="linkMenu">
        <li [ngClass]="{'active': router.url == '/'}">
          <i class="fa fa-menu fa-home fa-lg"></i> Início
        </li>
      </a>

      <a (click)='mudarRota("/empresasParceiras")' class="linkMenu">
        <li [ngClass]="{'active': router.url == '/empresasParceiras'}">
          <i class="fa fa-menu fa-people-carry fa-lg"></i> Parceiros
        </li>
      </a>

      <!-- <a (click)='mudarRota("/tecnicos")' class="linkMenu" >
            <li [ngClass]="{'active': router.url == '/tecnicos'}">
              <i class="fa fa-menu fa-chess-pawn fa-lg"></i> Técnicos
            </li>
          </a> -->

      <!-- <a (click)='mudarRota("/chamados")' class="linkMenu">
        <li [ngClass]="{'active': router.url == '/chamados'}">
          <i class="fab fa-menu fa-stack-overflow fa-lg"></i> Chamados
        </li>
      </a> -->

      <!-- TODO: implementar -->
      <a (click)='mudarRota("/relatorio")' class="linkMenu">
        <li class="">
          <i class="fa fa-menu fa-chart-line fa-lg"></i> Relatórios
        </li>
      </a>

      <a (click)='mudarRota("/clientes")' class="linkMenu">
        <li [ngClass]="{'active': router.url == '/clientes'}">
          <i class="fa fa-menu fa-user fa-lg"></i> Clientes
        </li>
      </a>

      <a (click)='mudarRota("/funcionarios")' class="linkMenu">
        <li [ngClass]="{'active': router.url == '/funcionarios'}">
          <i class="fa fa-menu fa-cat fa-lg"></i> Funcionários
        </li>
      </a>

      <a class="linkMenu" (click)="logOut()">
        <li>
          <i class="fa fa-menu fa-sign-out-alt  fa-lg"></i> Log Out
        </li>
      </a>

    </ul>

  </div>
</div>

<div [ngClass]="{'col-md-9 offset-md-3 col-xs-12': this.router.url !== '/login' && this.router.url !== '/' }">
  <router-outlet></router-outlet>
</div>