<!-- TODO: fazer o if para colocar a class "active" no lugar certo -->

<div class="nav-side-menu col-3">
  <div class="brand">
    <a routerLink="/"><img src="../assets/img/logo-pequeno.png" style="margin: 5px;"></a>
  </div>
    <i class="fa fa-menu fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

          <a routerLink="/"  class="linkMenu" >
            <li [ngClass]="{'active': router.url == '/'}">
              <i class="fa fa-menu fa-home fa-lg"></i> Início
            </li>
          </a>

          <a routerLink="/empresasParceiras" class="linkMenu" >
            <li [ngClass]="{'active': router.url == '/empresasParceiras'}">
              <i class="fa fa-menu fa-people-carry fa-lg"></i> Parceiros
            </li>
          </a>

          <a routerLink="/chamados" class="linkMenu">
            <li [ngClass]="{'active': router.url == '/chamados'}">
              <i class="fab fa-menu fa-stack-overflow fa-lg"></i> Chamados
            </li>
          </a>

          <!--
          TODO: implementar

          <a routerLink="/relatorios" class="linkMenu">
            <li class="">
              <i class="fa fa-menu fa-chart-line fa-lg"></i> Relatórios
            </li>
          </a> -->

          <a routerLink="/clientes" class="linkMenu">
            <li [ngClass]="{'active': router.url == '/clientes'}">
              <i class="fa fa-menu fa-user fa-lg"></i> Clientes
            </li>
          </a>


        </ul>

  </div>
</div>

<div class="col-9 offset-md-3">
  <router-outlet></router-outlet>
</div>
