<!-- // TODO: formatar essa tabela -->

<table *ngIf="empresas_parceiras.length > 0; else semEP" class="table table-hover">
  <thead class="thead-dark">
    <th>Id.</th>
    <th>Razão Social</th>
    <th>Nome Fantasia</th>
    <th>Email</th>
    <th>Funcionários</th>
    <th>Editar</th>
    <th>Apagar</th>
  </thead>
  <tbody>
    <tr *ngFor="let ep of empresas_parceiras | paginate: { id: 'empresapagination', itemsPerPage: pageSize, currentPage: p, totalItems: count }">
      <td>{{ep.id}}</td>
      <td>{{ ep.razao_social}}</td>
      <td>{{ ep.nome_fantasia}}</td>
      <td>{{ep.email}}</td>
      <td><button (click)="editFuncionariosEmpresaParceira(ep.id-1)" class="btn btn-block btn-primary">Funcionários</button></td>
      <td><button (click)="editEmpresaParceira(ep.id)" class="btn btn-block btn-success">Editar</button></td>
      <td><button (click)="deleteEmpresaParceira(ep.id-1)" class="btn btn-block btn-danger">Apagar</button></td>
    </tr>
  </tbody>
</table>
<pagination-controls *ngIf="count > pageSize;" id="empresapagination" (pageChange)="changePage($event)"
previousLabel="Anterior" nextLabel="Próxima"></pagination-controls>
<ng-template #semEP>
  <h2>Não há empresas parceiras cadastradas no momento!</h2>
</ng-template>

<ng-template #genericModal let-modal >
  <header class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">&nbsp;{{modalWarning.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <div class="modal-body" >
    <div class="container offset-md-4" style="position: relative; margin-top:3em; margin-bottom:3em;">
      <div class="row">
        <div>
          {{modalWarning.message}}
        </div>
      </div>
    </div>
  </div>
  <footer class="modal-footer">
    <button type="button" class="btn btn-primary" id="closeNewBalanceModal" (click)="modal.close('Save click')">Ok</button>
  </footer>
</ng-template>
<input type="hidden" id="openGenericModal" (click)="open(genericModal)" value="afasdf">
