<!-- // TODO: formatar essa tabela -->

<table *ngIf="empresas_parceiras.length > 0; else semEP" class="table table-hover">
  <thead class="thead-dark">
    <th>Id.</th>
    <th>Razão Social</th>
    <th>Email</th>
    <th>Funcionários</th>
    <th>Editar</th>
    <th>Apagar</th>
  </thead>
  <tbody>
    <tr *ngFor="let ep of empresas_parceiras; let i = index">
      <td>{{ep.id}}</td>
      <td>{{ ep.razao_social}}</td>
      <td>{{ep.email}}</td>
      <td><button (click)="editFuncionariosEmpresaParceira(i)" class="btn btn-block btn-primary">Funcionários</button></td>
      <td><button (click)="editEmpresaParceira(ep.id)" class="btn btn-block btn-success">Editar</button></td>
      <td><button (click)="deleteEmpresaParceira(i)" class="btn btn-block btn-danger">Apagar</button></td>
    </tr>
  </tbody>
</table>
<ng-template #semEP>
  <h2>Não há empresas parceiras cadastradas no momento!</h2>
</ng-template>
