<!-- Início Componente para Endereço Completo -->
<div class="form-row">
  <div class="form-group col-md-8">
    <label for="empresaLogradouro">Logradouro</label>
    <input type="text" class="form-control" name="logradouro"
    id="empresaLogradouro" placeholder="Avenida Salgado Filho, 123">
  </div>

  <div class="form-group col-md-4">
    <label for="empresaBairro">Bairro</label>
    <input type="text" class="form-control" name="bairro"  id="empresaBairro" placeholder="Vila das Flores">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="empresaMunicipio">Município</label>
    <input type="text" class="form-control" name="municipio" id="empresaMunicipio">
  </div>
  <div class="form-group col-md-4">
    <label for="empresaEstado">Estado</label>
    <select id="empresaEstado" class="form-control" name="estado">
      <option selected>SP</option>
      <option>AM</option>
      <option>AC</option>
      <option>AL</option>
      <option>AP</option>
      <option>AM</option>
      <option>BA</option>
      <option>CE</option>
      <option>DF</option>
      <option>ES</option>
      <option>GO</option>
      <option>MA</option>
      <option>MT</option>
      <option>MS</option>
      <option>MG</option>
      <option>PA</option>
      <option>PB</option>
      <option>PR</option>
      <option>PE</option>
      <option>PI</option>
      <option>RJ</option>
      <option>RN</option>
      <option>RS</option>
      <option>RO</option>
      <option>RR</option>
      <option>SC</option>
      <option>SE</option>
      <option>TO</option>
    </select>
  </div>
  <div class="form-group col-md-2">
    <label for="empresaCEP">CEP</label>
    <input type="text" class="form-control" name="cep" id="empresaCEP"  placeholder="07115-000">
  </div>
</div>
<!-- Fim Componente para Endereço Completo -->
