<!-- Início Componente para Endereço Completo -->
<div class="form-group">
  <label for="empresaLogradouro">Logradouro</label>
  <input type="text" class="form-control" id="empresaLogradouro" placeholder="Avenida Salgado Filho, 123">
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="empresaMunicipio">Município</label>
    <input type="text" class="form-control" id="empresaMunicipio">
  </div>
  <div class="form-group col-md-4">
    <label for="empresaEstado">Estado</label>
    <select id="empresaEstado" class="form-control">
      <option selected>SP</option>
      <option>AM</option>
    </select>
  </div>
  <div class="form-group col-md-2">
    <label for="empresaCEP">CEP</label>
    <input type="text" class="form-control" id="empresaCEP" placeholder="07115-000">
  </div>
</div>
<!-- Fim Componente para Endereço Completo -->