<table *ngIf="chamados.length > 0; else semTickets" class="table table-hover">
  <thead class="thead-dark">
    <th>Id.</th>
    <th>Data de Criação</th>
    <th>Categoria</th>
    <th>Ver</th>
    <th>Editar</th>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of chamados; let i = index">
      <td>{{ticket.ticket_id}}</td>
      <td>{{ ticket.createdAt | date:'dd/L/yy'}}</td>
      <td>{{ticket.tipo_ticket}}</td>
      <td><button (click)="seeTicket(i)" class="btn btn-block btn-success">Ver</button></td>
      <td><button (click)="editTicket(i)" class="btn btn-block btn-success">Editar</button></td>
    </tr>
  </tbody>
</table>
<ng-template #semTickets>
    <h4>Não há tickets com o estado <b>{{this.ticket_status  | titlecase }}</b> no momento!</h4>
</ng-template>

<ng-template #genericModal let-modal >
  <header class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">&nbsp;{{modalWarning.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <div class="modal-body" >
    <div class="container offset-md-4" style="position: relative; margin-top:3em; margin-bottom:3em;">
      <div class="row">
        <div>
          {{modalWarning.message}}
        </div>
      </div>
    </div>
  </div>
  <footer class="modal-footer">
    <button type="button" class="btn btn-primary" id="closeNewBalanceModal" (click)="modal.close('Save click')">Ok</button>
  </footer>
</ng-template>
<input type="hidden" id="openGenericModal" (click)="open(genericModal)" value="afasdf">

<div class="modal" tabindex="-1" role="dialog" id="detalhesChamado">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="idChamado" id="idChamado" value="">
        <button type="button" class="btn btn-danger btn-block btn-lg" (click)="encerrarChamado();">Encerrar</button>
      </div>
    </div>
  </div>
</div>
