<h2>Resultados para chamados com o estado de <b>{{dataStorage.ticket.ticket_status}}</b>:</h2>
<table *ngIf="chamados.length > 0; else semTickets" class="table table-hover">
  <thead class="thead-dark">
    <th>Id.</th>
    <th>Data de Criação</th>
    <th>Cliente</th>
    <th>Categoria</th>
    <th>Ver</th>
    <th *ngIf="dataStorage.ticket.ticket_status == 'aberto' || dataStorage.ticket.ticket_status == 'agendado'">Editar</th>
    <th *ngIf="dataStorage.ticket.ticket_status == 'aberto' || dataStorage.ticket.ticket_status == 'agendado' || dataStorage.ticket.ticket_status == 'em_atendimento'">Cancelar Chamado</th>
    <th *ngIf="dataStorage.ticket.ticket_status == 'encerrado_com_sucesso'">Upload de ordem</th>
    <th *ngIf="dataStorage.ticket.ticket_status == 'agendado' || dataStorage.ticket.ticket_status == 'em_atendimento'">Download de ordem</th>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of chamados; let i = index">
      <td>{{ticket.ticket_id}}</td>
      <td>{{ ticket.createdAt | date:'dd/L/yy'}}</td>
      <td>{{ticket.cliente.razao_social}}</td>
      <td>{{ticket.tipo_ticket}}</td>
      <td><button (click)="seeTicket(i)" class="btn btn-primary"><i class="fa fa-eye"></i></button></td>
      <td *ngIf="dataStorage.ticket.ticket_status == 'aberto' || dataStorage.ticket.ticket_status == 'agendado'"><button (click)="editTicket(i)" class="btn btn-warning"><i class="fa fa-pencil-alt"></i></button></td>
      <td *ngIf="dataStorage.ticket.ticket_status == 'aberto' || dataStorage.ticket.ticket_status == 'agendado' || dataStorage.ticket.ticket_status == 'em_atendimento'"><button (click)="cancelarTicket(i)" class="btn btn-danger"><i class="fa fa-times"></i></button></td>
      <td *ngIf="dataStorage.ticket.ticket_status == 'encerrado_com_sucesso'"><button (click)="uploadOrdem(i)" class="btn btn-success"><i class="fa fa-file"></i></button></td>
      <td *ngIf="dataStorage.ticket.ticket_status == 'agendado' || dataStorage.ticket.ticket_status == 'em_atendimento'"><button (click)="downloadOrdem(i)" class="btn btn-success"><i class="fa fa-download"></i></button></td>
    </tr>
  </tbody>
</table>

<form enctype="application/x-www-form-urlencoded" name="formularioDeSubmissaoDeOrdemDeServicoAssiadaPeloTecnico" id="formularioDeSubmissaoDeOrdemDeServicoAssiadaPeloTecnico">
  <input type="file" name="uploadDeOrdemDeArquivoDoTecnico" hidden id="uploadDeOrdemDeArquivoDoTecnico">
  <input type="hidden" name="idOrdemDeArquivoDoTecnico" hidden id="idDeOrdemDeArquivoDoTecnico">
</form>

<ng-template #semTickets>
    <h4>Não há tickets com o estado <b>{{this.ticket_status  | titlecase }}</b> no momento!</h4>
</ng-template>

<ng-template #genericModal let-modal >
  <header class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">&nbsp;{{modalWarning.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <div class="modal-body" >
    <div class="container offset-md-4" style="position: relative; margin-top:3em; margin-bottom:3em;">
      <div class="row">
        <div>
          {{modalWarning.message}}
        </div>
      </div>
    </div>
  </div>
  <footer class="modal-footer">
    <button type="button" class="btn btn-primary" id="closeNewBalanceModal" (click)="modal.close('Save click')">Ok</button>
  </footer>
</ng-template>
<input type="hidden" id="openGenericModal" (click)="open(genericModal)" value="afasdf">

<ng-template #verTicket let-modal >
  <header class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">&nbsp;Detalhes do Chamado</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <div class="modal-body" >
    DETALHES DO CHAMADO GOES HERE
    <div class="container offset-md-4" style="position: relative; margin-top:3em; margin-bottom:3em;">
      <div class="row">
        <div>
          <input type="hidden" name="idChamado" id="idChamado" value="">
          <button type="button" class="btn btn-danger btn-block btn-lg" (click)="encerrarChamado();" id="botaoEncerrarChamado">{{ (dataStorage.ticket.ticket_status === 'em_atendimento') ? 'Encerrar chamado' : 'Cancelar Chamados'}}</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="modal-footer">
    <button type="button" class="btn btn-primary" id="closeModal" (click)="modal.close('Save click')">Ok</button>
  </footer>
</ng-template>
<input type="hidden" id="openGenericModal2" (click)="open(verTicket)" value="afasdf">
